body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.stats-container {
    width: 1000px;
    height: 1000px;
    justify-content: space-between;
    padding: 10px;
    /*background-color: rgba(0, 0, 0, 0);  Fondo semitransparente */
    background-image: url('./fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.stats#poke-rival{
    display: flex;
    flex-direction: column;
    align-items: right;
    align-items: flex-end;
}

.stats#poke-propio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hp-bar-container {
    width: 10%;
    height: 15px;
    background-color: #ddd;
    border-radius: 8px;
    margin-top: 5px;
}

.hp-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 8px;
    width: 100%;
    transition: width 0.3s ease;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.hp-bar.low {
    background-color: #ff4c4c;
}

.hp-bar.medium {
    background-color: #ffa500;
}


#UI {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/*
.arena {
    display: flex;
    height: 100%;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta la imagen al tamaño del contenedor 
    background-position: center;  Centra la imagen 
    position: relative;
    justify-content: center;
    align-items: center;
}*/

#pokeProp {
    position: absolute;
    bottom: 11%;
    left: 36%;
    width: 18%; /* Ajusta el tamaño según el Pokémon */
    z-index: 1;
}

#pokeRival {
    position: absolute;
    bottom: 38%;
    right: 30%;
    width: 18%; /* Ajusta el tamaño según el Pokémon */
    z-index: 1;
}

.combat-log {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    margin: 0 20px;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.combat-log h3 {
    margin-top: 0;
}

.combat-log div {
    font-size: 14px;
    color: #333;
}
